*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --blue: #0ea5e9;
    --light-grey: #e2e8f0;
    --yellow: #eab308;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.header {
    grid-column: 2 / 5; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em 2em;
    align-items: center;
}

.header a,
;header a:visited {
    color: black;
    text-decoration: none;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: start;
    column-gap: auto;
}

#search {
    width: 80%;
    background-color: var(--light-grey);
    border: none;
    border-radius: 15px;
}


.notification {
    background-color: white;
    border: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.user-info a {
    font-size: 1.2rem;
    font-weight: 700;
}


.greeting {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 6fr;
}
 h1 {
    margin: 0;
 }

.action {
    
}

.action button {
    background-color: var(--blue);
    width: 100px;
    padding: .7em 0 .7em 0;
    border-radius: 2em;
    border: none;
    font-size: inherit;
    color: white;
    font-weight: 700;
    margin-left: 1em;
    
}

.nav {
    background-color: var(--blue);
    grid-row: 1 / 3;
    color: white;
    padding: 2em;
    display: grid;
    row-gap: 2em;
}

.nav h2,
.nav p {
    display: inline-block;
    margin-left: 1em;
    font-weight: 700;
    padding: 0;
    margin: .5em;
}

.nav img {
    vertical-align: middle;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.author {
    font-size: .8rem;
    margin-top: auto;
    text-align: center;
}

.author a,
.author a:visited {
    color: inherit;
}


.projects {
    background-color: var(--light-grey);
    grid-row: 2 / 3 ;
    grid-column: 2 / 4;
}

.sidebar {
    background-color: var(--light-grey);
    grid-row: 2 / 3;
    grid-column-start: 4;
}

